<html>
    <nav style="
    background-color: #5c9ead; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 30px; 
    font-family: Arial, sans-serif;
">

    <a href="/" style="
        color: white; 
        font-size: 1.5em; 
        font-weight: bold; 
        text-decoration: none;
    ">Acceuil</a>
    
    <div style="
        display: flex; 
        gap: 20px;
    ">
        <a href="/about" style="
            color: white; 
            text-decoration: none; 
            padding: 8px 12px;
        ">A propos</a>
      <% if (user.role === 'admin') { %>  
        <a href="/Panel" style="
            color: white; 
            text-decoration: none; 
            padding: 8px 12px;
        ">Panel Port</a>
        
        <a href="/listofcatways" style="
            color: white; 
            text-decoration: none; 
            padding: 8px 12px;
        ">Catways</a>
        
        <a href="/listofreservations" style="
            color: white; 
            text-decoration: none; 
            padding: 8px 12px;
        ">Réservations</a>  <% } %>
                 <a href="/login" style="
                 color: white; 
                 text-decoration: none; 
                 padding: 8px 12px;
             ">Connexion</a>
              <a href="/register" style="
              color: white; 
              text-decoration: none; 
              padding: 8px 12px;
          ">S'inscrire</a>
    </div>
</nav>
    <h1 style="text-align: center; font-size: 50px; font-family: Poppins;">Bienvenue sur le site du Port de Plaisance Russel</h1> <br>
    <p style="text-align: center; margin-top: 100px; margin-bottom: 50px; font-size: 25px; font-family: Poppins">Cette API à pour but de mener de -> faire une interface <a href="https://www.crowdstrike.com/fr-fr/cybersecurity-101/observability/crud/" target="_blank">CRUD</a> sécurisé pour l'utilisateur admin (L'utilsateur sans droit ne pourras qu'utiliser le CRUD qu'avec son propre compte). <br>Une deuxième interface CRUD pour les catways.  <br> Et une troisième interface CRUD pour réserver les catways (CRUD de reservation) <br><br> <strong>Outils utilisée pour la réalisation de ce projet : Node.JS / Express / JWT (JsonWebToken) / Mongoose </strong> <br> <a href="/about">Plus d'informations</a></p>
    <p style="text-align: center; margin-top: 100px; margin-bottom: 50px; font-size: 25px; font-family: Poppins">Choisissez une option :</p>
    <div style="text-align: center; "><button style="font-family: Poppins; color: white; background-color: black; margin-right: 20px; border-radius: 20px; width: 150px; height: 35px;"><a href="login" style="color: white; text-decoration: none;">Me connecter</a></button> <button style="font-family: Poppins; color: white; background-color: black; margin-right: 20px; border-radius: 20px; width: 150px; height: 35px;"><a href="register" style="text-decoration: none; color: white;">M'inscrire</a></button></div>
    <p style="margin-top: 50px; font-size: 20px; font-family: Poppins; text-align: center;"><a href="about" style="color: grey; text-decoration: none;">Comment faire fonctionner l'API ?</a></p>
</html>